.git
.github
.vscode
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.backend*.log
.frontend*.log

code/data
code/backend/uploads
code/backend/venv
code/backend/venv310
code/backend/__pycache__
code/backend/backend.log
code/backend/backend.err.log

code/frontend/node_modules
code/frontend/public/dist
code/frontend/frontend.log
code/frontend/frontend.err.log

submission_notes.txt
REQUIREMENTS_CHECKLIST.md
